

/*===============================
            LAYOUTS PART START
    ================================*/
.row {
  /* margin: -0.75rem; */
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  width: 100%;
  /* padding: 0.75rem 0; */
}
.form-row {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.form-col-12 {
  width: 100%;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
/*===============================
            LAYOUTS PART END
    ================================*/
/*==================================
            CLIENT SIDE PART START
    ===================================*/

/* SCROLLING */
/* FIELDS */
.field-title {
  margin-bottom: 0.25rem;
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
}
.field-title.required::after {
  margin-left: 0.25rem;
  font-weight: 500;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
  --tw-content: '*';
  content: var(--tw-content);
}
.field-label {
  cursor: pointer;
  padding-left: 0.5rem;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 1rem;
}
/* FORMS */
.form-selection.active .form-selection-div {
  cursor: auto;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-color: rgb(var(--primary) / 0.3);
}
.form-selection.active input {
  cursor: auto;
}
.form-selection.active ul {
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-color: rgb(var(--primary) / 0.3);
}
/* CUSTOM */
/* HEADER */
/* BANNER */
/* CATEGORY */
/* GALLERY */

/*==================================
            CLIENT SIDE PART END
    ==================================*/
/*===================================
              ADMIN SIDE PART START
    ====================================*/
/* HEADER */
.db-header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 300;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}


/* BACKLDROP */
.backdrop {
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 0.6);
  opacity: 0;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.backdrop.active {
  visibility: visible;
  opacity: 1;
}

/* BUTTON */
.db-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-transform: capitalize;
  --tw-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%);
  --tw-shadow-colored: 0 2px 6px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.xmark-btn {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.xmark-btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
.db-btn-outline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.375rem;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-btn-outline:hover {
  border-color: rgb(var(--primary) / 0.2);
  background-color: rgb(var(--primary) / 0.05);
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
.db-btn-outline i {
  font-size: 0.75rem;
  line-height: 1rem;
}
.db-btn-outline.primary {
  --tw-border-opacity: 1;
  border-color: rgb(var(--primary) / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
.db-btn-outline.primary:hover {
  background-color: rgb(var(--primary) / 0.1);
}
.db-btn-outline.warning {
  --tw-border-opacity: 1;
  border-color: rgb(246 166 9 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(246 166 9 / var(--tw-text-opacity));
}
.db-btn-outline.warning:hover {
  background-color: rgb(246 166 9 / 0.1);
}
.db-btn-outline.success {
  --tw-border-opacity: 1;
  border-color: rgb(34 197 94 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity));
}
.db-btn-outline.success:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(240 253 244 / var(--tw-bg-opacity));
}
.db-btn-outline.danger {
  --tw-border-opacity: 1;
  border-color: rgb(239 68 68 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}
.db-btn-outline.danger:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity));
}
.db-btn-outline.info {
  --tw-border-opacity: 1;
  border-color: rgb(6 182 212 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(8 145 178 / var(--tw-text-opacity));
}
.db-btn-outline.info:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(236 254 255 / var(--tw-bg-opacity));
}
.db-btn-outline.sm {
  gap: 0.25rem !important;
  border-radius: 0.25rem !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}
.db-btn-outline.sm i {
  font-size: 10px !important;
}
.db-btn-fill.primary {
  background-color: rgb(var(--primary) / 0.1);
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
.db-btn-fill.primary:hover {
  background-color: rgb(var(--primary) / 0.2);
}
.db-btn-fill.sm {
  gap: 0.25rem;
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}
.db-btn-fill.sm i {
  font-size: 10px;
}
/* CARDS */
.db-card {
  border-radius: 0.25rem;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%);
  --tw-shadow-colored: 0 2px 6px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.db-card-body {
  padding: 1.25rem;
}
.db-card-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding: 1.25rem;
}
@media (min-width: 640px) {

  .db-card-header {
    flex-direction: row;
    justify-content: space-between;
  }
}
.db-card-title {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(110 113 145 / var(--tw-text-opacity));
}
.db-card-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
@media (min-width: 640px) {

  .db-card-filter {
    align-items: flex-start;
  }
}
.db-card-filter-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.375rem;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(var(--primary) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.5rem;
  padding-bottom: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: capitalize;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(110 113 145 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-card-filter-btn::after {
  margin-top: -0.25rem;
  font-family: 'Font Awesome 6 Free';
  font-size: 11px;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
  --tw-content: '\f107';
  content: var(--tw-content);
}
.db-card-filter-btn:hover {
  border-color: rgb(var(--primary) / 0.1);
  background-color: rgb(var(--primary) / 0.05);
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
.db-card-filter-select {
  height: 2.25rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(var(--primary) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: capitalize;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-card-filter-select::after {
  margin-top: -0.25rem;
  font-family: 'Font Awesome 6 Free';
  font-size: 11px;
  font-weight: 700;
  --tw-content: '\f107';
  content: var(--tw-content);
}
.db-card-filter-select:where([dir="ltr"], [dir="ltr"] *) {
  padding-left: 0.625rem;
  padding-right: 1.75rem;
}
.db-card-filter-select:where([dir="rtl"], [dir="rtl"] *) {
  padding-right: 0.625rem;
  padding-left: 1.75rem;
}
.db-card-filter-btn i {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
.db-card-filter-btn span {
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
.db-card-filter-btn span:where([dir="ltr"], [dir="ltr"] *) {
  padding-right: 0.25rem;
}
.db-card-filter-btn span:where([dir="rtl"], [dir="rtl"] *) {
  padding-left: 0.25rem;
}
.db-card-filter .db-field-down-arrow {
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
.db-card-filter-dropdown-list {
  position: absolute;
  right: 0px;
  top: 2.5rem;
  z-index: 20;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0.5rem;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.db-card-filter-dropdown-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.625rem;
  white-space: nowrap;
  border-radius: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-card-filter-dropdown-menu:hover {
  background-color: rgb(var(--primary) / 0.05);
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
.db-card-filter-dropdown-menu i {
  width: 1rem;
  flex-shrink: 0;
}
/* BREADCRUMB */
.db-breadcrumb {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  padding-top: 14px;
}
@media (min-width: 640px) {

  .db-breadcrumb {
    flex-direction: row;
    justify-content: space-between;
  }
}
.db-breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (min-width: 640px) {

  .db-breadcrumb-list {
    justify-content: flex-end;
  }
}
.db-breadcrumb-item {
  font-size: 22px;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
}
.db-breadcrumb-link {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-breadcrumb-link::after {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  --tw-text-opacity: 1;
  color: rgb(110 113 145 / var(--tw-text-opacity));
  --tw-content: '/';
  content: var(--tw-content);
}
.db-breadcrumb-link:hover {
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
/* TABS */
.db-tab-btn {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.25rem;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(241 245 249 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-align: left;
  font-size: 15px;
  text-transform: capitalize;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-tab-btn:last-child {
  border-style: none;
}
.db-tab-btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
.db-tab-btn i {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.db-tab-btn.active {
  background-color: rgb(var(--primary) / 0.05) !important;
  --tw-text-opacity: 1 !important;
  color: rgb(var(--primary) / var(--tw-text-opacity)) !important;
}
.db-tab-div {
  display: none;
}
.db-tab-div.active {
  display: block;
}
.db-tab-sub-div.active {
  display: block;
}
.db-tab-sub-btn.active {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(var(--primary) / var(--tw-bg-opacity)) !important;
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}
.db-tabBtn.active {
  border-color: rgb(var(--primary) / 0.5);
  background-color: rgb(var(--primary) / 0.05);
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
@media (min-width: 640px) {

  .db-tabBtn.active {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
}
.db-tabDiv.active {
  display: block;
}
.profile-tabBtn.active {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--primary) / var(--tw-bg-opacity));
  stroke: #fff;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0px 6px 10px rgba(255, 0, 107, 0.24);
  --tw-shadow-colored: 0px 6px 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.profile-tabDiv {
  display: none;
}
.profile-tabDiv.active {
  display: block;
}
/* DROPDOWN */
.dropdown-group {
  position: relative;
  line-height: 0px;
}
.dropdown-btn {
  cursor: pointer;
}
.dropdown-list {
  display: none;
}
.dropdown-list.active {
  display: block;
}
/* FIELDS */
.db-field-title {
  display: block;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(86 106 127 / var(--tw-text-opacity));
}
.db-field-title.required::after {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
  --tw-content: '*';
  content: var(--tw-content);
}
.db-field-title.required:where([dir="ltr"], [dir="ltr"] *)::after {
  content: var(--tw-content);
  margin-left: 0.25rem;
}
.db-field-title.required:where([dir="rtl"], [dir="rtl"] *)::after {
  content: var(--tw-content);
  margin-right: 0.25rem;
}
.db-field-control {
  display: block;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-field-control:focus-within {
  border-color: rgb(var(--primary) / 0.2);
}
.db-multiple-field {
  display: flex;
  height: 2.5rem;
  width: 100%;
  align-items: center;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-multiple-field:focus-within {
  border-color: rgb(var(--primary) / 0.2);
}
.db-multiple-field input {
  height: 100%;
  width: 50%;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 2px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-multiple-field input:first-child {
  border-style: none;
}
.db-multiple-field input:where([dir="ltr"], [dir="ltr"] *) {
  border-left-width: 1px;
}
.db-multiple-field input:where([dir="rtl"], [dir="rtl"] *) {
  border-right-width: 1px;
}
.db-multiple-field button {
  height: 2rem;
  border-radius: 0.375rem;
  background-color: rgb(var(--primary) / 0.1);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-multiple-field button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--primary) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.db-multiple-field button:where([dir="ltr"], [dir="ltr"] *) {
  margin-right: 3px;
}
.db-multiple-field button:where([dir="rtl"], [dir="rtl"] *) {
  margin-left: 3px;
}
.db-group-field {
  display: flex;
  height: 2.5rem;
  width: 100%;
  align-items: center;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-group-field:focus-within {
  border-color: rgb(var(--primary) / 0.2);
}
.db-group-field input {
  height: 100%;
  width: 100%;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 2px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-group-field input:where([dir="ltr"], [dir="ltr"] *) {
  border-right-width: 1px;
}
.db-group-field input:where([dir="rtl"], [dir="rtl"] *) {
  border-left-width: 1px;
}
.db-group-field button {
  height: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-group-field button:hover {
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
.db-field-alert {
  margin-left: 0.25rem;
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.db-field-down-arrow {
  position: relative;
}
.db-field-down-arrow::after {
  position: absolute;
  top: 50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  font-family: 'Font Awesome 6 Free';
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  --tw-content: '\f107';
  content: var(--tw-content);
}
.db-field-down-arrow:where([dir="ltr"], [dir="ltr"] *)::after {
  content: var(--tw-content);
  right: 0.75rem;
}
.db-field-down-arrow:where([dir="rtl"], [dir="rtl"] *)::after {
  content: var(--tw-content);
  left: 0.75rem;
}
.db-field-radio-group {
  display: flex;
  align-items: center;
  gap: 10%;
  padding-top: 0.5rem;
}
.db-field-radio {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  align-items: center;
  padding-top: 0.25rem;
}
.db-field-label {
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
  line-height: 1rem;
}
.db-field-label:where([dir="ltr"], [dir="ltr"] *) {
  padding-left: 0.5rem;
}
.db-field-label:where([dir="rtl"], [dir="rtl"] *) {
  padding-right: 0.5rem;
}
textarea.db-field-control {
  height: 9rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.db-field-control[type="file"] {
  position: relative;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-field-control[type="file"]::before {
  position: absolute;
  top: 0px;
  z-index: 10;
  height: 100%;
  width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  --tw-content: '';
        content: var(--tw-content);
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        transition-timing-function: linear;
}
.db-field-control[type="file"]:focus-within::before {
  content: var(--tw-content);
  background-color: rgb(var(--primary) / 0.2);
}
.db-field-control[type="file"]:where([dir="ltr"], [dir="ltr"] *) {
  padding-left: 0px;
}
.db-field-control[type="file"]:where([dir="ltr"], [dir="ltr"] *)::before {
  content: var(--tw-content);
  left: 107px;
}
.db-field-control[type="file"]:where([dir="rtl"], [dir="rtl"] *) {
  padding-right: 0px;
}
.db-field-control[type="file"]:where([dir="rtl"], [dir="rtl"] *)::before {
  content: var(--tw-content);
  right: 113px;
}
.db-field-control[type="file"]::-webkit-file-upload-button,
    .db-field-control[type="file"]::file-selector-button {
  height: 2.5rem;
  cursor: pointer;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(110 113 145 / var(--tw-text-opacity));
  -webkit-transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  -webkit-transition-property: all;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.checkbox:checked {
  border-style: none;
}
.checkbox:checked + .check-icon {
  display: flex;
}
.checkbox:checked + .checkmark {
  --tw-border-opacity: 1;
  border-color: rgb(var(--primary) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(var(--primary) / var(--tw-bg-opacity));
}
input:checked + div {
  --tw-border-opacity: 1;
  border-color: rgb(var(--primary) / var(--tw-border-opacity));
}
input:checked + div svg {
  display: block;
}
.custom-checkbox {
  position: relative;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}
.custom-checkbox-field {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
}
.custom-checkbox-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(217 222 227 / var(--tw-border-opacity));
  text-align: center;
  font-size: 10px;
  line-height: 14px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.custom-checkbox-field:checked + .custom-checkbox-icon {
  --tw-border-opacity: 1;
  border-color: rgb(var(--primary) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(var(--primary) / var(--tw-bg-opacity));
  --tw-shadow: 0 2px 4px 0 rgb(105 108 255 / 40%);
  --tw-shadow-colored: 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.custom-radio {
  position: relative;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}
.custom-radio-field {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
}
.custom-radio-span {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(217 222 227 / var(--tw-border-opacity));
  text-align: center;
}
.custom-radio-field:checked + .custom-radio-span {
  border-width: 5px;
  --tw-border-opacity: 1;
  border-color: rgb(var(--primary) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 2px 4px 0 rgb(105 108 255 / 40%);
  --tw-shadow-colored: 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.custom-radio.sm {
  height: 0.75rem;
  width: 0.75rem;
}
.custom-radio.sm .custom-radio-field:checked + .custom-radio-span {
  border-width: 3px;
}
/* TABLE */
.db-table-responsive {
  width: 100%;
  overflow-x: auto;
}
.db-table {
  width: 100%;
  table-layout: auto;
  white-space: nowrap;
  text-align: left;
}
.db-table.stripe .db-table-body-tr:nth-child(odd) {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity)) !important;
}
.db-table-head {
  border-top-width: 1px;
  border-bottom-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.db-table-head:where([dir="ltr"], [dir="ltr"] *) {
  text-align: left;
}
.db-table-head:where([dir="rtl"], [dir="rtl"] *) {
  text-align: right;
}
.db-table-body:where([dir="ltr"], [dir="ltr"] *) {
  text-align: left;
}
.db-table-body:where([dir="rtl"], [dir="rtl"] *) {
  text-align: right;
}
.db-table-head-th {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  --tw-text-opacity: 1;
  color: rgb(86 106 127 / var(--tw-text-opacity));
}
.db-table-body-tr {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.db-table-body-tr:last-child {
  border-style: none;
}
.db-table-body-td {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.db-table-badge {
  border-radius: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-transform: capitalize;
}
.db-table-action {
  position: relative;
}
.db-table-action i {
  margin: 0.125rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-table-action.view i {
  background-color: rgb(var(--primary) / 0.1);
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
.db-table-action.view i:hover {
  background-color: rgb(var(--primary) / 0.2);
}
.db-table-action.edit i {
  --tw-bg-opacity: 1;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}
.db-table-action.edit i:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(187 247 208 / var(--tw-bg-opacity));
}
.db-table-action.delete i {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.db-table-action.delete i:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity));
}
.table-filter-div {
  height: 0px;
  overflow: hidden;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  transition-timing-function: linear;
}
.table-filter-divs {
  height: 0px;
  overflow: hidden;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  transition-timing-function: linear;
}
/* TOOLTIP */
.db-tooltip {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: -1.25rem;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  white-space: nowrap;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;
  padding-bottom: 2px;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  opacity: 0;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.db-tooltip::after {
  position: absolute;
  bottom: -3px;
  left: 50%;
  --tw-translate-x: -50%;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 0.125rem;
  border-width: 4px;
  border-top-width: 4px;
  border-style: solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: rgb(55 65 81 / var(--tw-border-opacity));
  --tw-border-opacity: 1;
  border-bottom-color: rgb(55 65 81 / var(--tw-border-opacity));
  --tw-content: '';
  content: var(--tw-content);
}
.db-table-action:hover .db-tooltip {
  visibility: visible;
  top: -100%;
  opacity: 1;
}
/* MODAL */
.modal {
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 50%;
  z-index: 60;
  height: 100%;
  width: 100%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  overflow-y: auto;
  background-color: rgb(0 0 0 / 0.6);
  opacity: 0;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.modal.active {
  visibility: visible;
  opacity: 1;
}
.modal-dialog {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 32rem;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.modal.active .modal-dialog {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  padding: 1rem;
}
.modal-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-transform: capitalize;
}
.modal-body {
  padding: 1rem;
}
.modal-footer {
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  padding: 1rem;
}
.modal-btns {
  margin-top: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 0.75rem;
}
.modal-btn-fill {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(var(--primary) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(var(--primary) / var(--tw-bg-opacity));
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.modal-btn-outline {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  text-transform: capitalize;
  --tw-text-opacity: 1 !important;
  color: rgb(75 85 99 / var(--tw-text-opacity)) !important;
}
.modal-close {
  font-size: 1.25rem;
  line-height: 1.75rem;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(251 78 78 / var(--tw-text-opacity));
}
/* PAGINATION */
.db-pagination-menu.active {
  background-color: rgb(var(--primary) / 0.2);
  --tw-text-opacity: 1;
  color: rgb(var(--primary) / var(--tw-text-opacity));
}
/* LIST */
.db-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.375rem;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
@media (min-width: 640px) {

  .db-list-item {
    flex-direction: row;
    align-items: center;
  }
}
.db-list-item-title {
  white-space: nowrap;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(31 31 57 / var(--tw-text-opacity));
}
.db-list-item-title::after {
  display: inline-block;
  padding-left: 0.25rem;
  --tw-content: ':';
  content: var(--tw-content);
}
@media (min-width: 640px) {

  .db-list-item-title::after {
    content: var(--tw-content);
    display: none;
  }
}
.db-list-item-title:where([dir="ltr"], [dir="ltr"] *) {
  text-align: left;
}
.db-list-item-title:where([dir="rtl"], [dir="rtl"] *) {
  text-align: right;
}
.db-list-item-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.db-list-item-text:where([dir="ltr"], [dir="ltr"] *) {
  text-align: left;
}
.db-list-item-text:where([dir="rtl"], [dir="rtl"] *) {
  text-align: right;
}
.db-list.single .db-list-item-title {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 640px) {

  .db-list.single .db-list-item-title {
    max-width: 180px;
  }
}
.db-list.single .db-list-item-text {
  width: 100%;
}
.db-list.multiple {
  flex-direction: row;
  flex-wrap: wrap;
}
.db-list.multiple .db-list-item {
  width: 100%;
}
@media (min-width: 640px) {

  .db-list.multiple .db-list-item {
    width: 50%;
  }
}
.db-list.multiple .db-list-item-title {
  width: 100%;
}
@media (min-width: 640px) {

  .db-list.multiple .db-list-item-title {
    width: 50%;
  }
}
.db-list.multiple .db-list-item-text {
  width: 100%;
}
@media (min-width: 640px) {

  .db-list.multiple .db-list-item-text {
    width: 50%;
  }
}
/* BADGE */
.db-badge {
  border-radius: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.db-badge.yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(254 249 195 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(202 138 4 / var(--tw-text-opacity));
}
.db-badge.green {
  --tw-bg-opacity: 1;
  background-color: rgb(220 252 231 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity));
}
.db-badge.blue {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}
.db-badge.red {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}
/* DRAWER */
.drawer {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 10001;
  height: 100vh;
  width: 100%;
  max-width: 36rem;
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  overflow-y: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.drawer.active {
  --tw-translate-x: 0%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.drawer-header {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  padding: 1rem;
}
.drawer-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  text-transform: capitalize;
}
.drawer-body {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* DB PRODUCT CARD */
.db-pos-cartDiv {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  transition-timing-function: linear;
}

/* FOOTER */



